* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 10px;
}

.overlay-control {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 5;
}

.overlay-control > button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.overlay-control > button img {
    width: 30px;
    height: 30px;    
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#game-board {
    display: grid;
    position: relative;
    height: fit-content;
}

.game {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game > .main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game > .game-header {
    display: flex;
    width: 100%;
}

.header-control {
    display: none;
}

.game h1 {
    z-index: 100;
    margin: 0 auto;
}

.cell {
    display: flex;
    user-select: none;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
    border: 1px solid #ddd;
}

#modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #b0a0a0aa;
    z-index: 4;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

#modal.show {
    opacity: 1;
    animation: modal-appear 0.3s ease forwards;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(0.8);
}

#modal > button {
    font-size: 25px;
}

#modal > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.button {
    font-size: 14px;
    cursor: pointer;
    padding: 12px 10px;
    border-radius: 10px;
}

.button:hover {
    background-color: #bda5a5;
}

.results {
    background-color: #fff;
    height: 300px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px;
    overflow-y: auto;
}

.results-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.results-table th, .results-table td {
    padding: 8px;
}

.results-table tr.highlight {
    background-color: #ffeb3b;
    font-weight: bold;
}

.levels {
    padding: 20px 0 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.level-button {
    cursor: pointer;
    background-color: #fff;
    padding: 5px 0;
    border-radius: 5px;
}

.level-button:hover {
    background-color: gray;
}

.disabled-button {
    pointer-events: none;
    background-color: darkgray;
}

@keyframes modal-appear {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}